<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body {margin:0;}
    
    .icon-bar {
      width: 100%;
      background-color: #555;
      overflow: auto;
    }
    
    .icon-bar a {
      float: left;
      width: 20%;
      text-align: center;
      padding: 12px 0;
      transition: all 0.3s ease;
      color: white;
      font-size: 36px;
    }
    
    .icon-bar a:hover {
      background-color: #000;
    }
    
    .active {
      background-color: #4CAF50;
    }
    </style>
    <body>


     
    <div class="icon-bar">
      <a href="index.html"><i class="fa fa-home"></i></a> 
      <a class="active" href="Search.html"><i class="fa fa-search"></i></a> 
      <a href="List of drinks.html"><i class="fa fa-list"></i></a> 
      <a href="randomDrink.html"><i class="fa fa-random"></i></a> 
      <a  href="profile.html"><i class="fa fa-user"></i></a>
    </div>
    
    <h2 align="center" >Drink Search</h2> 
<p align="center">Select which liquors you have available to you:</p>

<form action="randomDrink.html">
  <input type="checkbox" id="alc1" name="alc1" value="Vodka">
  <label for="alc1"> Vodka</label><br>

  <input type="checkbox" id="alc2" name="alc2" value="Whiskey">
  <label for="alc2"> Whiskey</label><br>

  <input type="checkbox" id="alc3" name="alc3" value="Gin">
  <label for="alc3"> Gin</label><br>

  <input type="checkbox" id="alc4" name="alc4" value="Rum">
  <label for="alc4"> Rum</label><br>

  <input type="checkbox" id="alc5" name="alc5" value="Tequila">
  <label for="alc5"> Tequila</label><br>

  <input type="checkbox" id="alc6" name="alc6" value="Liqueur">
  <label for="alc6"> Liqueur</label><br>

  <input type="checkbox" id="alc7" name="alc7" value="Cognac">
  <label for="alc7"> Cognac</label><br><br>
  <input type="submit" value="Submit">
</form> 

<link href="styles/main.css" rel="stylesheet" />
<script src="script.js"></script>
</html>