<link href="styles/main.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/main.css">
    <style>
    body {margin:0;}
    
    .icon-bar {
      width: 100%;
      background-color: #555;
      overflow: auto;
    }
    
    .icon-bar a {
      float: left;
      width: 20%;
      text-align: center;
      padding: 12px 0;
      transition: all 0.3s ease;
      color: white;
      font-size: 36px;
    }
    
    .icon-bar a:hover {
      background-color: #000;
    }
    
    .active {
      background-color: #4CAF50;
    }
    </style>
    <body>
    
    <div class="icon-bar">
      <a href="index.html"><i class="fa fa-home"></i></a> 
      <a href="{% url 'search' %}"><i class="fa fa-search"></i></a> 
      <a href="List of drinks.html"><i class="fa fa-list"></i></a> 
      <a class="active" href="{% url 'random' %}"><i class="fa fa-random"></i></a> 
      <a href="profile.html"><i class="fa fa-user"></i></a>
    </div>
    
    </body>

<section id="drinkSect"></section>







<script src="/static/random.js"></script>